.section.about-me {
    min-height: 20em;
    padding-bottom: 2em;
    background-color: #f7f7f7;
    transition: all .5s ease-in-out;
}

.section.about-me .container {
    width: 80%;
}

.about-me-title {
    font-size: 3.5em;
    font-family: 'Yeseva One', cursive;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.about-me-title.show {
    opacity: 1;
}

.about-me-description {
    margin-top: 2em;
    text-align: justify;
    font-size: 1.25em;
    line-height: 2em;
    font-weight: 300;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.about-me-description.show {
    opacity: 1;
}

.about-link {
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: underline;
    transition: all .25s ease-in-out;
    font-weight: bolder;
}

.about-link:hover {
    transform: scale(1.1);
}