/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/*LOADING IMG*/

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #000;
    z-index: 10000000;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}


/*LOADING IMG*/


/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 0;
    height: 0;
}


/* ::-webkit-scrollbar-thumb{
    background: url('https://thumbs.gfycat.com/CautiousSlightGhostshrimp-size_restricted.gif') center no-repeat;
    background-size:cover;
} */

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
    background: -o-linear-gradient(bottom, #008aff, #00ffe7);
    background: linear-gradient(to top, #008aff, #00ffe7);
    -webkit-animation: animateBar 5s linear infinite;
    animation: animateBar 5s linear infinite;
    z-index: 500000;
}

@-webkit-keyframes animateBar {
    0%,
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes animateBar {
    0%,
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
    background: -o-linear-gradient(bottom, #008aff, #00ffe7);
    background: linear-gradient(to top, #008aff, #00ffe7);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
    background: -o-linear-gradient(bottom, #008aff, #00ffe7);
    background: linear-gradient(to top, #008aff, #00ffe7);
    -webkit-filter: blur(30px);
    filter: blur(30px);
}


/*SCROLLBAR*/


/*BACK TO TOP BUTTON*/

#back-to-top-btn {
    display: inline-block;
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 20px;
    left: initial;
    right: 20px;
    line-height: 50px;
    display: none;
    cursor: pointer;
}

.btnEntrance {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: btnEntrance;
    animation-name: btnEntrance;
}

@-webkit-keyframes btnEntrance {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
    }
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
    }
}

.btnExit {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: btnExit;
    animation-name: btnExit;
}

@-webkit-keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
}


/*BACK TO TOP BUTTON*/

main {
    background: url('https://cdn.wallpapersafari.com/76/28/HqzPwk.gif');
    background-size: cover;
}

main>h3 {
    text-align: center;
    color: rgb(255, 81, 0);
    padding: 10vh 0 2vh 0;
    margin: 0;
}

main>h2 {
    font-family: sans-serif;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 3em;
    color: #fff;
}

body {
    background: rgb(209, 207, 207);
}

#certificates {
    margin-top: 30px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 0;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#certificates img {
    width: 27vw;
    margin-bottom: 40px;
    border: 8px solid rgb(143, 65, 19);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#certificates img:hover {
    -webkit-box-shadow: 0 10px 20px rgba(255, 81, 0, 0.7);
    box-shadow: 0 10px 20px rgba(255, 81, 0, 0.7);
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.img-full-screen {
    position: absolute;
    -ms-flex-item-align: center;
    align-self: center;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000000;
}

.img-full-screen .img-full-screen__link {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.img-full-screen .img-full-screen__link img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    border: 8px solid rgb(143, 65, 19);
    -webkit-box-shadow: 2px 2px rgba(27, 27, 27, 0.5);
    box-shadow: 2px 2px rgba(27, 27, 27, 0.5);
}

.img-full-screen__close-btn {
    cursor: pointer;
    font-size: 4em;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.img-full-screen__close-btn:hover {
    color: rgb(238, 236, 236);
}

@media (max-width:1200px) {
    #certificates img {
        width: 40vw;
    }
    .img-full-screen .img-full-screen__link {
        width: 80%;
    }
}

@media (max-width:767px) {
    main {
        background: url('https://wallpaperboat.com/wp-content/uploads/2019/05/technology-15.jpg') center no-repeat;
        background-size: cover;
    }
    #certificates img {
        width: 80vw;
    }
    .img-full-screen .img-full-screen__link {
        width: 80%;
    }
}

@media (max-width:479px) {
    #back-to-top-btn {
        width: 50px;
        height: 50px;
    }
    main>h2 {
        font-size: 10vw;
    }
    #certificates img {
        border: 5px solid rgb(143, 65, 19);
    }
}