@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Yeseva+One&display=swap');

/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #242424;
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

section {
    width: 100%;
    min-height: 100vh;
    transition: all .5s ease-in-out;
}

section .container,
footer .container {
    padding: 1em 12em;
}


button {
    cursor: pointer;
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
}

/*LOADING*/
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 10000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-image {
    width: 250px;
    height: 250px;
}

.page-loading *,
.page-loading *:before,
.page-loading *:after {
    animation-play-state: paused !important;
}

.fade-out {
    animation: fade-out 1s ease-out forwards;
}

@keyframes fade-out {
    100% {
        opacity: 0;
        z-index: -100;
    }
}

.back-to-top {
    width: 3em;
    height: 3em;
    background: url('../images/up-arrow.png') center no-repeat;
    background-size: cover;
    position: fixed;
    right: 8em;
    bottom: 4em;
    border-radius: .5em;
    cursor: pointer;
    transform: scale(0);
    transition: all .25s ease-out;
}

.back-to-top.active {
    transform: none;
}

.back-to-top:hover {
    animation: up-and-down .75s infinite;
}

@keyframes up-and-down {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: translateY(-.5em);
    }
}

.blur {
    filter: blur(4px);
}