header {
    width: 100%;
    padding: 1.2em 8em .5em 8em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .3s ease-out;
}

header.on-scroll {
    background: #fff;
    padding: 1.4em 8em .8em 8em;
}

header .container .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'New Tegomin', serif;
}

header .container .nav-brand {
    width: 3.5em;
    height: 3em;
    box-shadow: 0 .1em .2em .2em #474747;
    transition: all .1s ease-in-out;
    border-radius: .2em;
}

header .container .nav-brand:hover {
    width: 3.5em;
    height: 3em;
    box-shadow: 0 .1em .5em .2em #888888;
}

header .container .nav-brand-img {
    width: 100%;
    height: 100%;
    border-radius: .2em;
}

header .container .nav-list {
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container .nav-link {
    font-size: 1.25em;
}

header .nav-item {
    position: relative;
    height: 2em;
}

header .nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .15em;
    background: #000;
    transform: scaleX(0);
    transition: all .25s ease-in-out;
}

header .nav-item:hover::before,
header .nav-item.active::before {
    transform: none;
}