.section.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('../images/cover.webp') center no-repeat;
    background-size: cover;
}

.home-info {
    height: 10em;
    width: 55em;
    margin-bottom: 4em;
}

.home-info span {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: 'Yeseva One', cursive;
    text-transform: capitalize;
}

.home-info-title {
    font-size: 5em;
    font-family: 'Yeseva One', cursive;
    text-transform: capitalize;
    border-right: .1em solid #000;
    white-space: nowrap;
    overflow: hidden;
    animation: changeWidth 9s steps(16) infinite normal, blinkTextCursor 500ms steps(16) infinite normal;
}

@keyframes changeWidth {
    0% {
        width: 0;
    }

    30% {
        width: 9.3em;
    }

    31%,
    49% {
        width: 9.3em;
    }

    50% {
        width: 0;
    }

    80% {
        width: 7.6em;
    }

    81%,
    100% {
        width: 7.6em;
    }

}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgb(0, 0, 0);
    }

    to {
        border-right-color: transparent;
    }
}

.home-info-subtitle {
    margin-top: .5em;
    letter-spacing: .15em;
    font-weight: 400;
    font-size: 1.5em;
    text-transform: capitalize;
}

.check-my-work {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: .1em 1em .9em 1em;
    border-bottom: .2em solid #000;
}

.bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2em;
    background-color: #000;
    transition: all .25s ease-in-out;
    transform: scaleY(0);
    transform-origin: left;
}

.check-my-work:hover .bottom-border {
    height: .5em;
    transform: none;
}

.check-my-work p {
    font-weight: bold;
    font-size: 1.25em;
}