.section.others {
    min-height: 20vh;
}

.works-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-card-collumn {
    width: 47.5%;
    height: 100%;
}

.work-card-collumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.work-card-collumn:nth-child(2) .work-card:nth-child(odd) {
    height: 30em;
}

.work-card-collumn:nth-child(2) .work-card:nth-child(even) {
    height: 50em;
}

.work-card {
    width: 100%;
    height: 40em;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.work-card.show {
    opacity: 1;
}

.work-img {
    width: 100%;
    height: 70%;
    box-shadow: 0em 0em 1em .75em #dadada;
    border-radius: .5em;
}

.work-img iframe,
.work-img img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

.work-name {
    font-size: 1.5em;
    margin-top: 1em;
    text-transform: capitalize;
}