.section-title {
    text-transform: uppercase;
    margin: 3em 0;
    font-size: 1.5em;
    position: relative;
    padding-left: 3em;
    letter-spacing: .15em;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.section-title.show {
    opacity: 1;
}

.section-title::before {
    content: "";
    width: 2.75em;
    height: .15em;
    background: #242424;
    position: absolute;
    top: 50%;
    left: 0;
}

.project-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12em;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.project-card.show {
    opacity: 1;
}

.project-card:nth-child(even) {
    flex-direction: row-reverse;
}

.project-info {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-info-btn {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 2em;
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: .2em solid #000;
    transition: all .25s ease-in-out;
}

.bottom-border {
    position: absolute;
    bottom: .1em;
    left: 0;
    width: 100%;
    height: .2em;
    background-color: #000;
    transition: all .25s ease-in-out;
    transform: scaleY(0);
    transform-origin: left;
}

.project-info-btn:hover .bottom-border {
    height: .5em;
    transform: none;
}

.project-name {
    font-size: 3em;
    text-transform: capitalize;
    letter-spacing: .02em;
}

.project-description {
    font-weight: lighter;
    font-size: 1.2em;
    color: #818181;
    margin: 1.5em 0;
    line-height: 1.5em;
}

.project-info-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20em;
}

.info-tag {
    background: #f2f2f2;
    padding: .25em 1.5em;
    border-radius: 2em;
    font-weight: 300;
}

.project-img {
    width: 50%;
    height: 22.5em;
    box-shadow: 0em 0em 1em .75em #dadada;
    border-radius: .5em;
    transition: all .5s ease-in-out;
}

.project-img:hover {
    transform: scale(1.05);
}

.project-img img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

.project-img:hover.doc-page img {
    content: url("../images/documentationPageGIF.gif");
}

.project-img:hover.vr-page img {
    content: url("../images/VRPageGIF.gif");
}

.project-img:hover.room-page img {
    content: url("../images/roomPageGIF.gif");
}

.project-img:hover.calculator img {
    content: url("../images/calculatorGIF.gif");
}

.project-img:hover.hangman img {
    content: url("../images/hangmanGIF.gif");
}

.project-img:hover.flappy-bird img {
    content: url("../images/flappyGIF.gif");
}

.project-img:hover.meme-gen img {
    content: url("../images/memeGenGIF.gif");
}

.project-img:hover.paint img {
    content: url("../images/paintGIF.gif");
}

.section.web-apps {
    background-color: #f7f7f7;
}