/*GLOBAL STYLES*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*{
    scroll-behavior: smooth;
    font-family: 'Rowdies', sans-serif;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    /* background: url('https://media.giphy.com/media/l3q2XB76CaWPggiNW/giphy.gif') center no-repeat;
    background-size: cover; */
    background: #fff;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 10000000;
    text-align: center;
  }
  
  #loading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 26px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-title{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: #000;
    filter: blur(0.5px);
}

.roadmap-title {
    width: 100%;
    text-align: center;
    color: #000000;
    text-shadow:1px 2px #787a7c;
    padding-bottom: 20px;
}
/*GLOBAL STYLES*/

/*SCROLLBAR*/
::-webkit-scrollbar
{
    width: 0;
    height: 0;
}

/* ::-webkit-scrollbar-thumb{
    background: url('https://thumbs.gfycat.com/CautiousSlightGhostshrimp-size_restricted.gif') center no-repeat;
    background-size:cover;
} */

#scrollPath {
    position: fixed;
    top:0;
    right: 0;
    width: 10px;
    height: 100%;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animateBar 5s linear infinite;
    z-index: 500000;
}

@keyframes animateBar {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
/*SCROLLBAR*/

/*BACK TO TOP BUTTON*/
#back-to-top-btn{
    display: inline-block;
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 10px;
    left: 10px;
    line-height: 50px;
    display: none;
    cursor: pointer;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
    }
}

.btnExit {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}
/*BACK TO TOP BUTTON*/

/*  HEADER */
header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
}

.ctn {
    margin: 0 auto;
}

nav {
    align-self: center;
    position: fixed;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.menu-icons i{
    margin: 10px;
    font-size: 56px;
    cursor: pointer;
}

.close i{
    text-align: center;
    width: 70px;
    display: inline-block;
    color: #fff;
    z-index: 1500;
}

.nav-brand {
    position: relative;
    top: -15px;
    width: 120px;
    height: 30px;
    left: 20px;
    transition: 0.75s;
}

.nav-list {
    width: 100%;
    height: 100vh;
    background: none;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 100ms ease-in-out;
}

.nav-list.active {
    right: 0px;
}

.close {
    position: absolute;
    top: 10px;
    left: 0px;
}

.open {
    right: 0px;
}

.nav-item {
    margin: 24px 0;
    text-align: center;
}

.nav-link {
    position: relative;
    text-align: center;
    font-size: 17px;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.75s;
}

.nav-link:hover{
    text-decoration:none;
}
/*HEADER*/

/*HOME*/
#home {
    width: 100%;
    height: 100vh;
    background: url('https://i.gifer.com/7Gsw.gif') center no-repeat;
    animation: backgroundChange 4s ease-in-out infinite;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes backgroundChange{
    0%,100%{
        background: url("https://i.gifer.com/7Gsw.gif") center;
        background-size: cover;
    }
    50%{
        background: url("https://i.gifer.com/1psR.gif") center;
        background-size: cover;
    }
}

#home .ctn {
    justify-content: center;
    align-items: center;
}

#home .ctn a {
    text-decoration: none;
}

#home-title {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

#home-title li {
    list-style: none;
    color: #fff;
    font-size: 4.8em;
    font-weight: bold;
    font-family: 'Rowdies', cursive;
    letter-spacing: 10px;
    filter: blur(1px);
    transition: 1s;
}

#home .ctn:hover #home-title li {
    transform: rotate(360deg) translateY(80px);
    transition: 1s;
}

#home .ctn:hover #home-subtitle {
    transform: translateY(-80px);
}

#home-subtitle {
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;
    color: #fff;
    filter: blur(1px);
    transition: 1s;
}

.class-home h1{
    display: none;
    width: 40%;
    position: relative;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    top: 150px;
    left: 50px;
    color: palevioletred;
}
/*HOME*/

/*ABOUT ME*/
#about-me{
    width: 100%;
    min-height: 100vh;
    background: url('https://i.pinimg.com/originals/0a/f9/47/0af94751e7e1c6fafded4837dbabd1f9.jpg') center no-repeat;
    background-size:cover;
    overflow: hidden;
}

#about-me::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/avatar-about-me-2.jpg') center no-repeat fixed;
    background-size:contain;
    pointer-events: none;
    z-index: 0;
    opacity: 0.25;
}


#about-me .ctn {
    padding-left: 45px;
    padding-right: 45px;
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 90vh;
}

#about-me .ctn .card {
    position: relative;
    width: 600px;
    height: 450px;
    background: rgba(0,0,0,0.6);
    overflow:hidden;
    margin-bottom: 35px;
}

#about-me .ctn .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47f3f3;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
    filter: blur(40px);
}

#about-me .ctn .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

#about-me .ctn .card .imgBx {
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

#about-me .ctn .card:hover .imgBx {
    top: -45%;
    transform: translateY(0);
}

#about-me .ctn .card:hover .contentBx {
    height: 210px;
}

#about-me .ctn .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-25deg);
    width: 220px;
}

#about-me .ctn .card:nth-child(1) .imgBx img {
    border-radius: 50%;
    border: 2px solid rgb(114, 110, 110);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

#about-me .ctn .card .contentBx {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

#about-me .ctn .card .contentBx .contentBx-icon {
    color: rgb(242, 255, 61);
}

#about-me .ctn .card .contentBx p {
    font-size: 1em;
    text-align: justify;
    word-wrap: break-word;
    padding: 20px;
    color: #fff;
    font-family: 'Rowdies', cursive;
}


#about-me .ctn .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;
    word-wrap: break-word;
}

#about-me .ctn .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    font-family: 'Rowdies', sans-serif;
}

#about-me .ctn .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

#about-me .ctn .card {
    border:2px solid #525858;
    box-shadow: 2px 4px #444646;
}

#about-me .ctn .card:nth-child(1) .contentBx h2 {
    color: #47f3f3;
}

#about-me .ctn .card:nth-child(2)::before {
    background: rgb(242, 255, 61);
}

#about-me .ctn .card:nth-child(2) .contentBx {
    bottom: -20px;
}

#about-me .ctn .card:nth-child(2) .contentBx h2 {
    color: rgb(242, 255, 61);
}

#about-me .ctn .card:nth-child(2) .contentBx p {
    padding: 20px;
    text-align: left;
}
/*ABOUT ME*/

/*EXPERIENCE*/
#experience{
    width: 100%;
    min-height: 100vh;
    background: #fff;
    background: url('https://i.pinimg.com/originals/0a/f9/47/0af94751e7e1c6fafded4837dbabd1f9.jpg') center no-repeat;
    background-size: cover;
}

#experience .ctn {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    background:none;
}

/*Skills-box*/
.skill-container {
    position: relative;
    width: 600px;
}

.skill-container .skills {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    background: linear-gradient(#3f3f50 50%, rgb(48, 150, 168) 30%, rgb(7, 5, 46) 20%);
    overflow: hidden;
    border: 2px solid rgb(16, 122, 184);
    border-radius: 10px;
    transition: 0.5s;
}

.skill-container .skills span {
    font-size: 0.9em;
}

.skill-container:hover .skills {
    opacity: 0.05;
}

.skill-container:hover .skills:nth-child(2):hover {
    opacity: 1;
    box-shadow:0 10px 20px rgba(163, 235, 48, 0.8);
}

.skill-container:hover .skills:nth-child(3):hover {
    opacity: 1;
    box-shadow:0 10px 20px rgba(66, 116, 207, 0.8);
}

.skill-container:hover .skills:nth-child(4):hover {
    opacity: 1;
    box-shadow:0 10px 20px rgba(245, 220, 79, 0.8);
}

.skill-container:hover .skills:nth-child(5):hover {
    opacity: 1;
    box-shadow:0 10px 20px rgba(178, 81, 216, 0.8);
}


.skill-container .skills:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(84, 193, 212, 0.1);
    z-index: 10;
}

.skill-container .skills .name {
    position: relative;
    width: 110px;
    text-align: right;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
}

.skill-container .skills .value {
    position: relative;
    width: 110px;
    text-align: left;
    color: #fff;
    margin-top: 0px;
    text-transform: uppercase;
}

.skill-container .skills .percent {
    position: relative;
    width: calc(100% - 50px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.skill-container .skills .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background:#fff;
    box-shadow: inset 0 0 2px #000;
    animation: increaseSkill 2s ease-in-out infinite;
}

@keyframes increaseSkill {
    from {
        width: 0;
    }
}

.skill-container .skills:nth-child(2) .percent .progress {
    background: linear-gradient(45deg, #3bc0ff, #33ff00);
}

.skill-container .skills:nth-child(3) .percent .progress {
    background: linear-gradient(45deg, #1fe6ff, #673ab7);
}

.skill-container .skills:nth-child(4) .percent .progress {
    background: linear-gradient(45deg, #ffee54, #e73030);
}

.skill-container .skills:nth-child(5) .percent .progress {
    background: linear-gradient(45deg, #7f6de6, #e4357e);
}
/*Skills-box*/

/* Cirtificate-box */
.certificate-box {
    padding-bottom: 40px;
}

.certificate-box .card {
    position: relative;
    width: 320px;
    height: 400px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0.9;
    overflow:hidden;
    margin-top: 20px;
    border:8px solid rgb(99, 56, 0);
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.6);
    transition: 0.5s;
}

.certificate-box .card:hover {
    box-shadow: 0 20px 40px rgba(156, 156, 156, 0.6);
}

.certificate-box .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
    filter: blur(40px);
}

.certificate-box .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.certificate-box .card .imgBx {
    position: absolute;
    top: -12%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.certificate-box .card:hover .imgBx {
    top: -50%;
    transform: translateY(0);
}

.certificate-box .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(-25deg);
    width: 220px;
}

.certificate-box .card .contentBx {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.certificate-box .card .contentBx p {
    font-size: 1em;
    text-align: justify;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: 'Rowdies', cursive;
}

.certificate-box .card .contentBx p {
    text-align: center;
}

.certificate-box .card:hover .contentBx {
    height: 190px;
}

.certificate-box .card .contentBx h2 {
    padding-bottom: 10px;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
    text-shadow: 1px 2px rgb(170, 171, 172);
    font-family: 'Rowdies', cursive;
}

.certificate-box .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    font-family: 'Rowdies', sans-serif;
    background: #c0c2c4;
}

.certificate-box .card .contentBx a:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.certificate-box .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
}
/* Cirtificate-box */
/*EXPERIENCE*/

/*PROJECTS*/
#projects {
    background: rgb(214, 210, 210);
    width: 100%;
    min-height: 100vh;
}

.project-item a img:hover {
    animation: shake 0.5s infinite;
}

#projects .ctn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: inherit;
    padding-top: 20px;
}

.project-card {
    position: relative;
    width: 320px;
    height: 300px;
    background: #122936;
    overflow: hidden;
    border: 2px outset rgba(80, 80, 82, 0.8);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.project-card:hover {
    box-shadow: 0 20px 40px rgba(80, 80, 82, 0.8);;
}

.project-card:before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: skewY(345deg);
    transition: 0.5s;
}

#flappy-bird-card:before {
    background: url('../images/flappy-bird-icon.png') center no-repeat;
}

#hangman-card:before {
    background: url('../images/hangman-icon.png') center no-repeat;
}

#calculator-card:before {
    background: url('../images/calculator.PNG') center no-repeat;
}

#memeGen-card:before {
    background: url('../images/memeGenerator.PNG') top no-repeat;
}

#coding-card:before {
    background: url('../images/coding-flappy-bird.PNG') center no-repeat;
}

#paint-card:before {
    background: url('../images/paint.PNG') top no-repeat;
}

#snake-card:before {
    background: url('../images/snake-the-game-icon.PNG') center no-repeat;
}

#piano-card:before {
    background: url('../images/piano-icon.jpg') center no-repeat;
}

#coming-card:before {
    background: url('../images/tron-like-tunnel.PNG') center no-repeat;
}

#coming-card-2:before {
    background: url('../images/galactic-light-trails.PNG') center no-repeat;
}


.project-card:hover:before {
    top: -70%;
    transform: skewY(390deg);
}

.project-card:after {
    content: 'FLAPPY BIRD';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 5em;
    color: rgba(0,0,0,0.15);
    word-wrap: break-word;
}

#hangman-card:after {
    content: 'HANGMAN';
}

#calculator-card:after {
    content: 'CALCULATOR';
}

#memeGen-card:after {
    content: 'MEME GENERATOR';
}

#paint-card:after {
    content: 'PAINT';
}

#snake-card:after {
    content: 'SNAKE THE GAME';
}

#coding-card:after {
    content: 'CODING CHALLENGE';
}

#piano-card:after {
    content: 'PIANO COVER';
}

#coming-card:after {
    content: 'TRON-LIKE TUNNELS';
}

#coming-card-2:after {
    content: 'GALACTIC LIGHT TRAILS';
}

.project-card .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
}

.project-card .imgBx img {
    max-width: 40%;
    transition: 0.5s;
}

.project-card:hover .imgBx img {
    max-width: 30%;
}

.project-card .contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.project-card .contentBx h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.project-card .contentBx .play {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(45deg, rgb(132, 86, 241),rgb(216, 25, 206));
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.project-card .contentBx .play:hover {
    background: linear-gradient(45deg,rgb(216, 25, 206),rgb(132, 86, 241));
    font-size: 1.1em;
}

.project-card:hover .contentBx .play {
    top: 0;
    opacity: 1;
}

.projectBox {
    margin: 0 auto;
    width: 86%;
    min-height: 80vh;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

#projects ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects ul li{
    background: rgb(219, 213, 213);
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 8px 40px;
    margin-top: 20px;
    letter-spacing: 1px;
    border-right: 2px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
    cursor: pointer;
}

#projects ul li.projectActive {
    background:  rgb(154, 155, 156);
    color: rgb(229, 238, 241);
}

#projects .product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
/*PROJECTS*/

/*CONTACT*/
#contact {
    /* background: url('https://www.setaswall.com/wp-content/uploads/2017/03/Keyboard-4K-Wallpaper-3840x2160.jpg') center no-repeat;
    background-size: cover; */
    background: rgb(204, 201, 201);
    width: 100%;
    min-height: 100vh;
}

#contact .ctn {
    width: 100%;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formBx {
    border-radius: 20px;
    width: 70%;
}

.contact-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 105vh;
}

.contact-info .contact-info__item {
    align-self: center;
    background: rgb(175, 175, 175);
    background: url('../images/contact-background.jpg') center no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow:3px 3px 3px 3px rgba(0,0,0,0.6);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transition: 0.8s;
    word-wrap: break-word;
}

.contact-info .contact-info__item span {
    padding-left: 5px;
    padding-right: 5px;
}

.contact-info .contact-info__item span:nth-child(1), .contact-info .contact-info__item:hover span:nth-child(3) {
    transition: 0.8s;
}

.contact-info .contact-info__item:hover {
    box-shadow:3px 3px 3px 3px rgba(0,0,0,0.9);
}

.contact-info .contact-info__item:hover span:nth-child(1) {
    transform: rotateZ(360deg);
}

.contact-info .contact-info__item:nth-child(1):hover span:nth-child(1), .contact-info .contact-info__item:nth-child(1):hover span:nth-child(3) {
    color: rgba(255, 239, 93, 0.8);
}

.contact-info .contact-info__item:nth-child(2):hover span:nth-child(1), .contact-info .contact-info__item:nth-child(2):hover span:nth-child(3) {
    color: rgba(224, 44, 12, 0.8);
}

.contact-info .contact-info__item:nth-child(3):hover span:nth-child(1), .contact-info .contact-info__item:nth-child(3):hover span:nth-child(3) {
    color: rgba(49, 199, 56, 0.8);
}

.contact-info .contact-info__item span {
    text-align: center;
}

.contact-info .contact-info__item h3{
    text-transform: uppercase;
}

.contact-info .contact-info__item .contact-info__item-icon {
    font-size: 2em;
}

.contact-items {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 7rem;
    left: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 1s;
}

.contact-items:hover {
    left: 0;
}

.contact-items ul {
    height: 60%;
    align-self: center;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-items ul li {
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    background: #ccc;
    filter: blur(0.5px);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);
}

.contact-items ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.8em !important;
}

.contact-items ul li:nth-child(1) span:nth-child(5) {
    background: url('../images/cv-icon.webp');
    background-size: contain;
}


.contact-items ul li:hover  span:nth-child(5) {
    transform: translate(40px, 40px);
    opacity: 1;
}

.contact-items ul li:hover span:nth-child(4) {
    transform: translate(30px, 30px);
    opacity: .8;
}
.contact-items ul li:hover span:nth-child(3) {
    transform: translate(20px, 20px);
    opacity: .6;
}
.contact-items ul li:hover  span:nth-child(2) {
    transform: translate(10px, 10px);
    opacity: .4;
}
.contact-items ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
}
/*CONTACT*/

/*FOOTER*/
footer{
    padding-top: 20px;
    background: rgb(199, 193, 193);
    /* background: url('https://i.pinimg.com/originals/bb/04/63/bb0463cbd1c88e3280cb273dd29d2859.jpg') center no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 30vh;
}

footer .ctn {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .ctn .footer__links {
    display: flex;
    justify-content: space-around;
}

footer .ctn .footer__links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .ctn .footer__links ul li a {
    text-decoration: none;
    font-weight: 550;
    color: rgb(151, 148, 148);
    font-family: 'Krona One', sans-serif;
    transition: 0.6s;
}

footer .ctn .footer__links ul li a:hover {
    color: #000;
}

.footer__title {
    margin-top: 10px;
    border-top: 2px solid rgb(151, 148, 148);
    padding-top: 15px;
    padding-bottom: 40px;
    align-self: center;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__title h4 {
    color: rgb(151, 148, 148);
    text-align: center;
}

.footer__title .footer__title-icons {
    width: 20%;
}

.footer__title .footer__title-icons ul li {
    margin-right: 10px;
}

.footer__title .footer__title-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__title .footer__title-icons ul li a {
    color: rgb(151, 148, 148);
    font-size: 2em;
    transition: 0.6s;
}

.footer__title .footer__title-icons ul li a:hover {
    color: rgb(0, 102, 255);
}
/*FOOTER*/

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
    header {
        position: absolute;
        height: 100vh;
        width: 7rem;
    }

    nav {
        flex-direction: column;
        height: 100vh;
        width: 6rem;
        right: 0rem;
        background: none;
        transition: 1s;
    }

    nav:hover {
        width: 8rem;
        right: 0;
        background: #000;
    }

    nav:hover .nav-link {
        color: #fff;
    }

    .nav-brand {
        position: relative;
        width: 60px;
        height: 40px;
    }

    .nav-brand img {
        position: relative;
        width: 80%;
        left: -15px;
        top: 10px;
    }

    .nav-list {
        width: initial;
        height: 70%;
        position: initial;
        top: initial;
        right: initial;
        justify-content: space-between;
        transition: initial;
    }

    .menu-icons{
        display: none;
    }

    .nav-item{
        transform: rotate(90deg);
    }

    .nav-item:nth-child(4) {
        padding-left: 20px;
        padding-right: 25px;
    }

    .nav-link, .current{
        color: rgb(0, 0, 0);
        position: relative;
        font-size: 0.75em;
    }

    .nav-link::before, .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        background: linear-gradient(to right, #a395f5, #2172ce);
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 600ms;
    }

    .current::before{
        transform: scaleX(1);
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }
}

/********************** Large devices only *********************/
@media (min-width:1200px) {
}

/********************** Medium devices only *********************/
@media (min-width:992px) and (max-width:1199px) {
}
/********************** Small devices only *********************/
@media (min-width:768px) and (max-width:991px) {
    .nav-brand {
        width: 60px;
        height: 30px;
        left: 15px;
    }

    .section-title{
        font-size: 3em;
    }

    .class-about-me{
        width: 100%;
    }

    #home-title li{
        font-size: 3em;
    }

    #home-subtitle{
        font-size: 2.2em;
    }

    #home .ctn:hover #home-title li {
        transform: rotate(360deg) translateY(60px);
    }
    
    #home .ctn:hover #home-subtitle {
        transform: translateY(-60px);
    }

    .project-card {
        height: 270px;
    }

    #projects ul li{
        background: #eee;
        text-transform: uppercase;
        font-size: 0.9em;
        padding: 6px 20px;
        margin-top: 20px;
        letter-spacing: 1px;
        border-right: 2px solid black;
        cursor: pointer;
    }
}

/********************** Extra small devices only *********************/
@media (max-width: 767px) {
    #scrollPath, #progressbar {
        display: none;
    }

    #loading img {
        content: url('https://www.frogx3.com/wp-content/uploads/2017/03/logotipos-animados-para-tu-inspiracion-10.gif');
        object-fit: cover;
    }

    nav {
        width: 95%;
        background: none;
    }

    .nav-brand {
        top: 0;
        left: 0;
        width: 60px;
        height: 40px;
    }

    .nav-brand img {
        position: relative;
        content: url('../images/logo.png');
        width: 70%;
    }

    .nav-list{
        background: url('https://cutewallpaper.org/21/1920x1080-gif/gif-Backgrounds-Wallpaper-Cave.gif') center no-repeat;
        background-size: cover;
        opacity: 0.9;
    }

    .nav-link:hover{
        color:rgb(96, 180, 219);
        font-size: 1.3em;
        text-decoration:none;
    }

    .section-title{
        font-size: 2.9em;
    }

    #home {
        animation: none;
    }

    #home .ctn:hover #home-title li {
        transform: rotate(360deg) translateY(40px);
    }
    
    #home .ctn:hover #home-subtitle {
        transform: translateY(-40px);
    }

    #home-title li{
        font-size: 1.6em;
    }

    #home-subtitle{
        font-size: 1.3em;
    }

    #about-me .ctn .card:hover .imgBx {
        top: -46%;
    }
    
    #about-me .ctn .card:hover .contentBx {
        height: 240px;
    }

    .skill-container {
        width: 460px;
    }

    .p-subtitle {
        font-size: 1.5em;
    }

    .project-card {
        height: 270px;
        margin: 20px;
    }

    #projects ul {
        display: none;
    }

    .project-card:after {
        font-size: 3em;
    }

    #contact .ctn {
        flex-direction: column;
        justify-content: space-around;
    }

    .formBx {
        align-self: center;
        width: 90%;
    }

    .contact-info {
        align-self: center;
        width: 90%;
        height: 85vh;
        padding-bottom: 20px;
    }
}

/*********************SUPER EXTRA SMALL DEVICES ONLY***********************/
@media (max-width:479px) {
    .section-title{
        font-size: 2.1em;
    }

    #home-title li{
        font-size: 1em;
    }

    #home-subtitle{
        font-size: 0.8em;
    }
    
    #home .ctn:hover #home-title li {
        transform: rotate(360deg) translateY(30px);
    }
    
    #home .ctn:hover #home-subtitle {
        transform: translateY(-30px);
    }
    
    #about-me .ctn {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about-me .ctn .card {
        height: 500px;
    }

    #about-me .ctn .card:hover .imgBx {
        top: -42%;
        transform: translateY(0);
    }
    
    #about-me .ctn .card:hover .contentBx {
        height: 300px;
    }

    #about-me .ctn .card .contentBx h2{
        font-size: 1.8em;
    }

    #about-me .ctn .card p {
        transition: 0.6s;
    }

    #about-me .ctn .card:hover p {
        font-size: 0.83em;
    }

    .ctn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .skill-container {
        width: 90%;
    }

    .certificate-box .card {
        position: relative;
        width: 260px;
    }

    .project-card {
        height: 270px;
        margin: 0;
        margin-bottom: 20px;
    }

    .project-card .contentBx h3 {
        font-size: 1em;
    }

    .project-card .contentBx .play {
        position: relative;
        font-size: 0.7em;
        letter-spacing: 0.5px;
    }

    .project-card .contentBx .play:hover {
        font-size: 0.8em;
    }

    #contact .ctn {
        padding-left: 0;
        padding-right: 0;
    }
            
    .contact-items {
        width: 5rem;
        left: -3rem;
        transition: 0.7s;
    }
    
    .contact-items:hover {
        left: 0;
    }

    .contact-items ul li {
        width: 38px;
        height: 38px;
    }

    .footer__title {
        width: 80%;
        padding-top: 10px;
    }

    .footer__title h4 {
        font-size: 0.9em;
        color: rgb(151, 148, 148);
        text-align: center;
    }
    
    .footer__title .footer__title-icons {
        width: 60%;
        align-self: center;
    }
    
    .footer__title .footer__title-icons ul li a {
        color: rgb(151, 148, 148);
        font-size: 1.5em;
        transition: 0.6s;
    }
    
    .footer__title .footer__title-icons ul li a:hover {
        color: rgb(0, 102, 255);
    }
}

/*********************SUPER EXTREME SMALL DEVICES ONLY***********************/
@media (max-width:320px) {
    .section-title {
        font-size: 2em;
    }

    .skill-container {
        width: 300px;
    }

    #home-title li {
        font-size: 0.9em;
    }
}