.contribution {
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1300px) {
        padding: 50px;
    }
    @media (max-width: 768px) {
        padding: 20px;
    }
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: flex-start;
        }

        &-left {
            width: 48%;
            @media (max-width: 1200px) {
                width: 100%;
                margin-bottom: 60px;
            }
            @media (max-width: 768px) {
                margin-bottom: 40px;
            }
            h3 {
                min-width: 100%;
                display: inline-block;
                padding: 10px 20px;
                font-size: 30px;
                position: relative;
                text-transform: uppercase;
                background: #ffffff;
                border-radius: 0 10px 10px;
                box-shadow: 13px 13px 25px #e9e9e9, -13px -13px 25px #ffffff;
                @media (max-width: 1200px) {
                    min-width: auto;
                    margin-bottom: 20px;
                }
                @media (max-width: 768px) {
                    font-size: 22px;
                }
                @media (max-width: 476px) {
                    font-size: 18px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 5px;
                    height: 100%;
                    background-color: rgb(255, 0, 255);
                }
            }
            ul {
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                @media (max-width: 1200px) {
                    max-height: 250px;
                }
                li {
                    margin-top: 20px;
                    width: 100%;
                    a {
                        text-transform: capitalize;
                        font-size: 20px;
                        line-height: 1.75;
                        color: #000;
                        &:hover {
                            font-weight: 600;
                        }
                        @media (max-width: 768px) {
                            font-size: 16px;
                            line-height: 1;
                        }
                        @media (max-width: 476px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        &-right {
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            @media (max-width: 1200px) {
                width: 100%;
            }

            p {
                font-size: 20px;
                text-align: justify;
                position: relative;
                padding: 20px;
                line-height: 1.5;
                font-size: 20px;
                background: #ffffff;
                border-radius: 0 10px 10px;
                box-shadow: 13px 13px 25px #e9e9e9, -13px -13px 25px #ffffff;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
                @media (max-width: 476px) {
                    font-size: 15px;
                }
                a {
                    font-weight: 700;
                    &:hover {
                        text-decoration: underline;
                    }
                    color: #000;
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 5px;
                    height: 100%;
                    background-color: rgb(255, 0, 255);
                }
            }
        }
    }
}
