.document {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;

    @media (max-width: 1100px) {
        flex-direction: column;
    }
    .left-part {
        width: 350px;
        overflow-y: auto;

        display: flex;
        flex-direction: column;

        @media (max-width: 1100px) {
            width: 100%;
            height: 40%;
        }

        a {
            display: inline-block;
            padding: 20px 10px;
            font-size: 18px;
            color: #000;
            text-transform: uppercase;
            background-color: #f7f7f7;
            &:hover,
            &.active {
                background-color: #cacaca;
            }
            @media (max-width: 1100px) {
                padding-left: 30px;
            }
            @media (max-width: 768px) {
                padding: 15px 20px;
                font-size: 16px;
            }
            @media (max-width: 476px) {
                padding: 10px 20px;
                font-size: 14px;
            }
        }
    }
    .right-part {
        overflow-y: auto;
        width: calc(100% - 350px);

        @media (max-width: 1100px) {
            box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 60%;
        }

        .document-detail-list {
            display: flex;
            flex-direction: column;
            &__item {
                &-inner {
                    padding: 30px;
                    @media (max-width: 1100px) {
                        padding: 20px 20px;
                    }
                    @media (max-width: 768px) {
                        padding: 15px 20px;
                    }
                    h3 {
                        display: inline-block;
                        padding: 10px 20px;
                        font-size: 30px;
                        position: relative;
                        text-transform: uppercase;
                        border-radius: 0 10px 10px;
                        background: #ffffff;
                        box-shadow: 13px 13px 25px #d8d8d8,
                            -13px -13px 25px #ffffff;
                        @media (max-width: 768px) {
                            font-size: 24px;
                        }
                        @media (max-width: 476px) {
                            font-size: 16px;
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            top: 0;
                            left: 0;
                            width: 5px;
                            height: 100%;
                            background-color: rgb(255, 0, 255);
                        }
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        li {
                            margin-top: 20px;
                            width: 100%;
                            a {
                                text-transform: capitalize;
                                font-size: 20px;
                                line-height: 1.75;
                                color: #000;
                                &:hover {
                                    font-weight: 600;
                                }
                                @media (max-width: 768px) {
                                    font-size: 16px;
                                }
                                @media (max-width: 476px) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
