.homepage {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1300px) {
        padding: 40px;
    }

    p {
        width: 100%;
        display: inline-block;
        color: #000;
        font-style: italic;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        a {
            color: inherit;
            font-weight: bold;
        }
        @media (max-width: 768px) {
            font-size: 12px;
            bottom: 10px;
        }
        @media (max-width: 476px) {
            font-size: 10px;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        &-item {
            margin: 15px;
            padding: 20px;
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            border-radius: 20px;
            background: linear-gradient(315deg, #e6e6e6, #ffffff);
            box-shadow: -29px -29px 59px #d9d9d9, 29px 29px 59px #ffffff;
            transition: all 0.25s ease-in-out;
            @media (max-width: 1100px) {
                width: 250px;
                height: 250px;
            }
            @media (max-width: 768px) {
                width: 180px;
                height: 180px;
            }
            @media (max-width: 476px) {
                width: 120px;
                height: 120px;
            }
            &__img {
                width: 80%;
                height: 80%;
                -o-object-fit: cover;
                object-fit: cover;
                transition: all 0.25s ease-in-out;
            }
            &:hover {
                background: linear-gradient(315deg, #ffffff, #e6e6e6);
                box-shadow: -29px -29px 59px #d9d9d9, 29px 29px 59px #ffffff;

                img {
                    transform: scale(1.1);
                }
            }
            h2 {
                margin-top: 10px;
                text-transform: uppercase;
                font-size: 30px;
                color: #000;
                @media (max-width: 1100px) {
                    font-size: 25px;
                }
                @media (max-width: 768px) {
                    font-size: 18px;
                }
                @media (max-width: 476px) {
                    font-size: 14px;
                }
            }
        }
    }
}
