.menu-features {
    width: 100%;
    height: 60px;
    padding: 10px 100px;
    background-color: #fff;

    @media (max-width: 1300px) {
        padding: 10px 50px;
    }

    @media (max-width: 768px) {
        height: 120px;
        padding: 10px 20px;
    }
    @media (max-width: 476px) {
        height: 100px;
        padding: 0px 20px 10px 20px;
    }
    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        &-list {
            display: flex;
            flex-direction: row;

            li {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                cursor: pointer;
                border-radius: 150px;
                background: linear-gradient(145deg, #e6e6e6, #ffffff);
                box-shadow: 9px 9px 18px #dadada, -9px -9px 18px #ffffff;
                transition: all 0.25s ease-in-out;

                &:nth-child(4) {
                    img {
                        transition: all 0.5s ease-in-out;
                    }
                }

                &.shine {
                    box-shadow: 0 0 20px #000;
                    img {
                        transform: rotateZ(-90deg);
                    }
                }

                @media (max-width: 476px) {
                    width: 30px;
                    height: 30px;
                }

                @media (max-width: 768px) {
                    margin: 10px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }

                &:not(:nth-child(5)):hover {
                    background: linear-gradient(145deg, #ffffff, #e6e6e6);
                    box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #fff;
                }

                &:nth-child(5) {
                    text-align: center;
                    min-width: 120px;
                    text-transform: uppercase;
                    border-radius: 10px;
                    box-shadow: 9px 9px 18px #dbdbdb, -9px -9px 18px #ffffff;
                    h3 {
                        transform: translateY(25%);
                    }
                    @media (max-width: 476px) {
                        font-size: 13px;
                    }
                    @media (max-width: 376px) {
                        display: none;
                    }
                }
            }
        }

        .search-bar {
            width: 400px;
            background-image: url("../../images/search.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 37px 37px;
            border: none;
            outline: none;
            padding-left: 38px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 8px 8px 16px #e2e2e2, -8px -8px 16px #ffffff;
            transition: all 0.75s ease-in-out;
            @media (max-width: 768px) {
                height: 60px;
                width: 80%;
            }
            @media (max-width: 476px) {
                width: 100%;
            }
            &:focus {
                background-position: 100% 0;
                padding-left: 0;
                padding-left: 10px;
                padding-right: 38px;
            }
        }
    }
}
