* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(13, 12, 15);
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

button,
input {
    cursor: pointer;
    outline: none;
}

#gameTitle {
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 1em;
    background: #000;
    background-size: contain;
    color: whitesmoke;
    letter-spacing: .4em;
}

.container-1 {
    width: 37.3em;
    min-height: 40em;
    border: 10px solid rgb(39, 38, 37);
    box-shadow: 1px 1px 3px 5px rgb(43, 42, 42);
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: #000;
}

#wrongWords {
    background: #000;
    color: rgb(247, 246, 241);
    width: 100%;
    height: 2.5em;
    margin-bottom: .5em;
    margin-top: 2em;
    color: chartreuse;
}

#wrongWordList {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-weight: 250;
    letter-spacing: .15em;
    font-size: 1.2em;
    padding-left: .2em;
}

span {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 2em;
}

.container-main-screen {
    background: #000;
    display: flex;
    width: 100%;
    height: 18em;
}

#main-screen {
    box-shadow: 1px 1px 2px 4px rgb(58, 56, 56);
    width: 25em;
    height: 100%;
    transition: all 0.2s ease-out;
}

#information {
    width: 30%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information-title {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 1.7em;
    color: chartreuse;
}

#category h3 {
    color: rgb(227, 128, 240);
}

#category,
#playerName,
#computerName {
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#categoryName {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 150%;
    ;
    margin-left: 5px;
}

#win {
    color: rgb(79, 200, 236);
}

#lose {
    color: rgb(240, 48, 48);
}

#wordToFind {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #000;
    width: 100%;
    height: 4em;
    margin-top: 1em;
}

#wordToFind button {
    background: none;
    border: none;
    border-bottom: 7px solid rgb(255, 255, 255);
    width: 10%;
    height: 1.3em;
    margin: .1em;
    margin-bottom: 1em;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    transition: 0.25s;
}

#wordToFind button:hover {
    font-size: 2.8em;
}

#alphabet {
    background: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 10em;
}

#alphabet .btn-word,
.btn-func {
    width: 3.98em;
    height: 1.8em;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    background-color: rgba(65, 63, 63, 0.5);
    transition: 0.5s;
    font-size: 1.5em;
    color: #FCE060;
}

.btn-func:hover {
    background: linear-gradient(green, red);
    font-family: 'Fredoka One', cursive;
    color: white;
}

#btnSound {
    background: none;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    color: whitesmoke;
    width: 100%;
    background: none;
}

#alphabet .btn-word:hover {
    background: linear-gradient(rgb(107, 89, 50), rgb(230, 230, 143));
    color: #13120d;
}

#alphabet .btn-word:active {
    background: linear-gradient(rgb(236, 193, 100), yellow);
    color: #13120d;
}

@media (max-width:900px) {
    * {
        font-size: 12px;
    }
    #main-screen {
        width: 25em;
    }
    #alphabet .btn-word,
    .btn-func {
        width: 3.95em;
        height: 2.5em;
    }
}

@media (max-width:475px) {
    * {
        font-size: 10px;
    }
    .information-title {
        font-size: 1.3em;
    }
    #alphabet .btn-word,
    .btn-func {
        width: 3.9em;
    }
}

@media (max-width:375px) {
    * {
        font-size: 7px;
    }
    #alphabet .btn-word,
    .btn-func {
        width: 3.8em;
    }
}