@media (max-width:768px) {
    .music-player {
        width: 27.5em;
    }

    .section.home {
        background-position-y: 50%;
    }

    .section.about-me {
        padding-top: 5em;
    }

    .section.about-me .container {
        flex-direction: column;
        align-items: center;
    }

    .about-me-info {
        width: 100%;
        margin-bottom: 4em;
    }

    .about-me-img {
        width: 45%;
        height: 26.5em;
    }

    .section.education .container {
        width: 100%;
    }

    .education-title {
        font-size: 3.5em;
    }

    .education-col {
        height: 42.5em;
    }

    .education-row h5,
    .skills-row h5 {
        font-size: 2em;
    }

    .education-row p {
        font-size: 1.5em;
    }

    .education-row i {
        font-size: 1em;
    }

    .skill-tag {
        font-size: 1.4em;
    }

    .certificates-container {
        grid-template-columns: auto auto;
        justify-content: center;
        grid-gap: 3em;
    }

    .certificates-img {
        width: 27.5em;
        height: 17.5em;
    }
}

@media (max-width:576px) {
    .about-me-img {
        width: 60%;
    }

    .certificates-img {
        width: 22em;
        height: 14.5em;
    }

    #img-full-screen img {
        width: 45em;
        height: 30em;
    }

    .education-col {
        height: 55em;
    }
}