@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
section {
    background: rgb(26, 26, 26);
    transition: all 0.1s ease-in;
}

section .container {
    padding-top: 3.5em;
    position: relative;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
}

.navigation-bar {
    width: 20em;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar.courses {
    width: 20em;
}

.navigation-bar img {
    height: 2em;
    width: 2em;
}

.navigation-link {
    background-color: #000;
    padding: .2em 1.5em;
    border-radius: 1em;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: all .1s ease-out;
    box-shadow: 0 0 .1em .1em rgb(191, 36, 252);
}

.navigation-link:hover {
    color: rgb(191, 36, 252);
}

.content-title {
    width: 8em;
    background: rgb(26, 26, 26);
    color: #fff;
    font-size: 3em;
    padding: 1rem 2rem;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 51%, 0% 0%);
    border-left: .5rem solid rgb(191, 36, 252);
}

.list-courses {
    margin-top: 4em;
    width: 60em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.list-courses-item {
    list-style: none;
    height: 4em;
    width: 100%;
}

.list-courses-link {
    text-decoration: none;
    font-size: 1.8em;
    color: #fff;
    transition: all .1s ease-out;
}

.list-courses-link:hover {
    color: rgb(191, 36, 252);
}

.music-player {
    position: fixed;
    width: 10em;
    height: 6em;
    right: 8em;
    bottom: 3em;
    cursor: pointer;
    opacity: .8;
    transition: all 0.25s ease-in;
    z-index: 10;
}

.music-player-pause {
    position: absolute;
    z-index: 15;
    width: 3.5em;
    height: 3.5em;
    left: calc(50% - 1.75em);
    bottom: calc(50% - 3.5em);
    opacity: 0;
    transition: all .25s ease-in-out;
}

.music-player-pause:hover {
    transform: scale(1.2);
}

.music-player-pause.active {
    opacity: 1;
    display: initial;
}

#canvas {
    width: 100%;
    height: 100%;
}