@media (max-width:768px) {
    * {
        font-size: 1.9vw;
    }
     ::-webkit-scrollbar {
        width: 1.5em;
    }
    header {
        position: initial;
        height: 20em;
        width: 100%;
        padding: 0 2rem;
    }
    header .container {
        flex-direction: column;
    }
    main {
        overflow-x: hidden;
    }
    section .container {
        padding: 0;
    }
    .nav-list {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        width: calc(100% - 2rem);
    }
    .feature-bar {
        padding: 2em 2rem 3em 2rem;
        flex-direction: column;
        justify-content: space-around;
        height: 14em;
        align-items: center;
        border-bottom: .5em solid rgb(191, 36, 252);
        box-shadow: none;
    }
    .main-feature {
        flex-direction: column;
        align-items: center;
    }
    .open-feature-btn {
        display: none;
    }
    .feature-list {
        transform: none;
        width: 50%;
    }
    .navigation-bar {
        width: 20.5em;
        transform: none;
    }
    .search-bar {
        width: 100%;
    }
    .documents-content {
        flex-direction: column;
    }
    .documents-list {
        width: 100%;
        overflow-x: hidden;
    }
    .documents-menu {
        width: 100%;
        height: 30em;
    }
    .documents-link {
        height: 3em;
        padding-left: 2rem;
    }
    .document-title {
        font-size: 1.5em;
    }
    .list-courses-item {
        width: 100%;
    }
    .list-courses-link {
        font-size: 1.25em;
    }
    .footer {
        position: initial;
        background: #000;
        font-size: 1em;
    }
    .footer.light-mode {
        background: rgb(252, 249, 249);
    }
    .music-player {
        display: none;
    }
}