@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-dark-gray: hsl(0, 0%, 55%);
    --color-very-dark-gray: hsl(0, 0%, 41%);
}

* {
    /* LÌ LÌ 10K TỘI QUÊN ĐƠN VỊ VW VH */
    font-size: 1vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

#back-to-top {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 5em;
    height: 5em;
    transform: translateY(7em);
    transition: all 0.25s ease-out;
}

#back-to-top img {
    width: 100%;
    height: 100%;
}

#back-to-top.active {
    transform: none;
}