section:nth-child(3) .container {
    position: relative;
}

.creation-btn {
    position: absolute;
    top: 0;
    right: 0;
    transition: all .25s ease-out;
}

.creation-btn:hover {
    background: #000;
    color: #fff;
}

.creation-title {
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.creation-btn {
    background: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 3em;
    letter-spacing: .25em;
    transition: all .25s ease-out;
    cursor: pointer;
}

.creation-cards {
    margin-top: 4em;
    margin-bottom: 4em;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.card {
    width: 18.5em;
    margin-bottom: 2.5em;
    position: relative;
    box-shadow: 0em 0em .1em .2em rgb(97, 97, 97);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-gray);
    opacity: 0;
    transition: all .25s ease-out;
}

.card:hover::after {
    opacity: .8;
}

.card img {
    transition: all .25s ease-out;
    width: 100%;
    height: 100%;
}

.card:hover img {
    transform: scale(1.5) rotateZ(10deg);
}

.card h3 {
    position: absolute;
    left: 1em;
    bottom: 1em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
    width: 70%;
    z-index: 5;
}

.card:hover h3 {
    color: #000;
}