@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

$DARK-GRAY:rgb(161,161,161);
$VERY-DARK-GRAY:rgb(69,69,69);

* {
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container__top {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;

    .container__top__first {
      position: relative;
      height: auto;
      width: 60%;
      background: url('../images/desktop-image-hero-1.jpg');
      overflow: hidden;
      background-size: cover;

      .container__top__first__sliders {
        position: relative;
        width: 300%;
        height: 100%;
        display: flex;
        flex-direction: row;
        
        img {
          display: block;
          width: calc(100% / 3);
        }
      }

      nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        padding-top: 40px;
        padding-left: 40px;
        width: 400px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .container__top__first__nav-brand {
          display: flex;
          justify-content: center;
          height: auto;
          width: 20%;
          a {
            color: #fff;
            font-size: 2em;
            font-weight: 700;
            padding-top: 5px;
            text-shadow: 1px 1px rgb(223, 223, 223);
            transition: 0.3s;
          }

          a:hover {
            color:rgb(37, 37, 37);
            text-shadow: 1px 1px rgb(97, 96, 96);
          }
        }

        ul {
          width: 70%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-self: center;
          li {
            a {
              color: #fff;
              text-shadow: 1px 2px rgb(182, 177, 177);
              transition: 0.3s;
            }

            a:hover {
              color:rgb(37, 37, 37);
              text-shadow: 1px 1px rgb(97, 96, 96);
            }
          }
        }
      }

      .container__top__first__labels {
        position: absolute;
        bottom: 10px;
        width: 100%;
        align-self: center;
        height: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #000;
        button {
          margin: 0 5px 0 5px;
          width: 20px;
          background: #fff;
          border: none;
          border-radius: 0px;
          box-shadow: 1px 1px rgb(122, 122, 122);
          transition: 0.3s;
        }
        button.active {
          background: $VERY-DARK-GRAY;
        }
      }
    }

    .container__top__second {
      height: auto;
      width: 40%;
      background-color: white;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .container__top__second__content {
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 150px;
        overflow: hidden;

        .container__top__second__content__sliders {
          position: relative;
          left: 0;
          width: 300%;
          display: flex;
          flex-direction: row;

          .container__top__second__content__slider {
            width: calc(100% / 3);
            padding-left: 50px;
            padding-right: 50px;
            h1 {
              font-size: 3em;
              text-shadow: 0 1px 2px rgb(65, 63, 63);
            }
            p {
              padding-top: 30px;
              padding-bottom: 30px;
              text-align: justify;
              color: $DARK-GRAY;
            }
          }
        }

        a {
          position: relative;
          left: 50px;
          color: $VERY-DARK-GRAY;
          text-transform: uppercase;
          letter-spacing: 10px;
          font-weight: 700;
          transition: 0.5s;
        }
        a:hover {
          text-shadow: 1px 1px rgb(161, 160, 160);
          letter-spacing: 15px;
        }
      }

      .container__top__second_buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 15%;
        display: flex;
        flex-direction: row;
        div {
          cursor: pointer;
          border: none;
          width: 50%;
          height: 100%;
          outline: none;
          background: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s;
        }

        div:hover {
          background: rgb(196, 194, 194);
        }
      }
    }
  }

  .container__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 35vh;

    .container__bottom__first {
      width: 30%;
      background: url('../images/image-about-dark.jpg');
      background-size: cover;
    }

    .container__bottom__second {
      width: 40%;
      display: flex;
      justify-content: center;
      align-self: center;

      .container__bottom__second__content {
        padding: 50px;
        h3 {
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 5px;
          font-size: 1.1em;
          margin-bottom: 20px;
          text-shadow: 0 1px 2px rgb(65, 63, 63);
        }
        p {
          text-align: justify;
          color: $DARK-GRAY;
        }
      }
    }

    .container__bottom__third {
      width: 30%;
      background: url('../images/image-about-light.jpg');
      background-size: cover;
    }
  }
}

@media (min-width:768px) {
  .container {
    .container__top {
        height: 65vh;
        nav {
          position: relative;
          padding: 0;
          justify-content: center;
          width: 100%;

          .menu-icon {
            display: none;
          }

          .close-icon {
            display: none;
          }
        }
      }
    }
}


@media (max-width:767px) {
  body::-webkit-scrollbar {
    display: none;
  }

  .container {
    .container__top, .container__bottom {
      flex-direction: column;
    }
    .container__top {
      min-height: 65vh;
      position: relative;
      .container__top__first {
        position: relative;
        background: url('../images/mobile-image-hero-1.jpg');
        background-size: cover;
        width: 100%;
        min-height: 380px;

        .container__top__first__sliders {
          position: absolute;
          top: 0;
          width: 300%;
          height: 100%;
          display: flex;
          flex-direction: row;
          
          img {
            display: block;
            width: calc(100% / 3);
          }
        }

        .container__top__first__labels {
          justify-content: flex-start;
          padding-left: 30px;
        }

        nav {
          position: relative;
          padding: 0;
          justify-content: center;
          width: 100%;

          .menu-icon {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 35px;
            left: 30px;
            transition: 0.5s;
          }

          .menu-icon.rotate {
            transform: rotateZ(360deg);
          }

          .container__top__first__nav-brand {
              align-self: center;
              font-size: 1.3em;
          }
          .nav-list {
            position: absolute;
            flex-direction: column;
            height: 100px;
            top: 70px;
            left: -100px;
            transition: 0.5s;

            li {
              margin-top: 20px;
              a {
                font-size: 1.9em;
              }
            }
          }
          .nav-list.active {
            left: 30px;
          }
        }
      }

      .container__top__second {
        width: 100%;

        .container__top__second__content {
          align-self: center;
          margin-top: 70px;
          margin-bottom: 50px;
          .container__top__second__content__sliders {
            .container__top__second__content__slider {
              h1 {
                font-size: 2.1em;
              }
            }
          }

          a {
            letter-spacing: 5px;
          }
          a:hover {
            letter-spacing: 10px;
          }
        }
        
        .container__top__second_buttons {
          width: 35%;
          top: -15%;
          left: 65%;
        }
      }
    }

    .container__bottom {
      .container__bottom__first, .container__bottom__second, .container__bottom__third {
        width: 100%;
        min-height: 280px;
      }
    }
  }
}

