.about {
    display: flex;
    flex-direction: column;

    &__main {
        max-width: 100%;
        height: 400px;

        &-img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        @media (max-width: 768px) {
            height: calc(100% - 100px);
        }

        margin-bottom: 40px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        &-name {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 26px;
        }

        &-inner {
            display: flex;
            flex-direction: row;
            .inner-left {
                max-width: 500px;
                padding-right: 100px;
                p {
                    line-height: 1.5;
                    text-align: justify;
                    font-style: italic;
                    margin-bottom: 36px;
                }
                @media (max-width: 1400px) {
                    max-width: 400px;
                    padding-right: 50px;
                }

                @media (max-width: 1200px) {
                    max-width: 450px;
                }

                @media (max-width: 992px) {
                    max-width: 100%;
                    padding-right: 0;
                }
            }

            .inner-right {
                p {
                    line-height: 2;
                    span {
                        font-weight: 600;
                        font-style: italic;
                        display: inline-block;
                        min-width: 100px;

                        @media (max-width: 1400px) {
                            min-width: 90px;
                        }
                    }
                }

                @media (max-width: 992px) {
                    margin-top: 36px;
                }
            }

            @media (max-width: 1200px) {
                justify-content: space-between;
            }

            @media (max-width: 992px) {
                flex-direction: column;
            }
        }
    }

    @media (max-width: 1200px) {
        padding: 0 50px;
    }

    @media (max-width: 992px) {
        padding: 20px 0;
    }
}
