.description-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    display: block;
    background-color: var(--description-modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: none;
    outline: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    &__details {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        padding: 100px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        &-knowledge {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .knowledge-col {
                max-width: 45%;
                display: flex;
                flex-direction: column;
                &__title {
                    color: var(--heading-color);
                    font-size: 40px;
                    font-weight: 800;
                    text-transform: capitalize;
                    margin-bottom: 60px;

                    @media (max-width: 768px) {
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }

                    @media (max-width: 576px) {
                        font-size: 32px;
                    }
                }

                &__info {
                    .info-name {
                        color: var(--heading-color);
                        font-size: 20px;
                        margin-bottom: 10px;

                        @media (max-width: 576px) {
                            font-size: 18px;
                        }
                    }
                    .info-year {
                        font-weight: 500;
                        span {
                            font-style: italic;
                            font-weight: 400;
                        }
                    }
                    .info-tags {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        .tag {
                            display: inline-block;
                            padding: 10px 15px;
                            color: var(--bg-color);
                            background-color: var(--heading-color);
                            border-radius: 30px;
                            font-size: 14px;
                            font-weight: 400;
                            margin-right: 20px;
                            margin-bottom: 20px;

                            @media (max-width: 768px) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    margin-bottom: 30px;
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }
            margin-bottom: 60px;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
        &-certificates {
            .certificates-title {
                color: var(--heading-color);
                font-size: 40px;
                font-weight: 800;
                text-transform: capitalize;
                margin-bottom: 60px;
                @media (max-width: 768px) {
                    margin-bottom: 40px;
                }
                @media (max-width: 576px) {
                    font-size: 32px;
                }
            }
            .certificates {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-between;
                grid-gap: 40px;
                img {
                    width: 100%;
                    height: 100%;
                    box-shadow: var(--box-shadow);
                }

                @media (max-width: 1300px) {
                    grid-template-columns: auto auto;
                    grid-gap: 30px;
                }

                @media (max-width: 768px) {
                    grid-gap: 20px;
                    grid-template-columns: auto;
                }
            }
        }

        @media (max-width: 1200px) {
            padding: 80px 50px;
        }

        @media (max-width: 768px) {
            padding: 0px 20px 60px 20px;
        }
    }

    &__close {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        margin-top: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 50px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        color: var(--text-color);
        z-index: 2;
        background-color: var(--bg-color);

        &:hover {
            color: var(--heading-color);
        }

        @media (max-width: 476px) {
            width: 30px;
            height: 30px;
            font-size: 30px;
            margin-top: 8px;
            margin-right: 8px;
        }
    }

    @media (max-width: 476px) {
        padding: 20px;
    }
}
