.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    .music-player {
        display: flex;
        justify-content: center;
        background: transparent;
        align-items: center;
        width: 125px;
        height: 60px;
        bottom: 60px;
        right: 60px;
        position: fixed;
        cursor: pointer;
        z-index: 10;
        transition: all 0.25s ease-in-out;
        #canvas {
            z-index: 2;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        @media (max-width: 992px) {
            margin: 20px 0;
            width: 150px;
            position: initial;
            bottom: initial;
            right: initial;
        }
        &.pause {
            background: url("https://img.icons8.com/small/96/000000/soundcloud.png")
                center no-repeat;
            background-size: contain;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;

        &-avt {
            background: url("../../images/avt.webp") center no-repeat;
            background-size: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-animation: morph 8s ease-in-out infinite;
            animation: morph 8s ease-in-out infinite;
            filter: grayscale(100%);
            -webkit-animation: morph 8s ease-in-out infinite;
            animation: morph 8s ease-in-out infinite;
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            box-sizing: border-box;
            height: 200px;
            transition: all 1s ease-in-out;
            width: 200px;
            z-index: 5;
            outline: none;
            @-webkit-keyframes morph {
                0% {
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                }

                50% {
                    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
                }

                100% {
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                }
            }
            @keyframes morph {
                0% {
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                }

                50% {
                    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
                }

                100% {
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                }
            }

            @media (max-width: 992px) {
                width: 250px;
                height: 250px;
                margin-bottom: 30px;
            }

            @media (max-width: 768px) {
                width: 200px;
                height: 200px;
            }

            @media (max-width: 476px) {
                width: 140px;
                height: 140px;
            }
        }

        &-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 80px;

            &__name {
                font-size: 55px;
                font-weight: 800;

                @media (max-width: 768px) {
                    font-size: 45px;
                    text-align: center;
                }

                @media (max-width: 476px) {
                    font-size: 32.5px;
                }
            }

            &__job {
                margin: 20px 0;
                font-style: italic;
                font-weight: 500;
                font-size: 15px;

                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            &__social {
                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        margin-right: 20px;
                        span {
                            font-size: 20px;
                            color: #000;
                            transition: all 0.1s ease-in-out;
                        }
                        &:hover {
                            span {
                                color: #767676;
                            }
                        }
                    }

                    @media (max-width: 992px) {
                        justify-content: center;
                        align-items: center;
                        li {
                            margin: 0 10px;
                        }
                    }
                }

                @media (max-width: 476px) {
                    margin-bottom: 20px;
                }
            }

            @media (max-width: 992px) {
                margin-left: 0;
                align-items: center;
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 1200px) {
        padding: 0px 20px;
    }

    @media (max-width: 992px) {
        padding: 0 0;
    }
}
