.left-part {
    width: 400px;
    background-color: var(--bg-color);
    height: 100%;

    @media (max-width: 1400px) {
        width: 300px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 320px;
        max-width: 200px;

        &-logo {
            h3 {
                font-weight: 900;
                font-size: 25px;
                color: var(--heading-color);
            }
        }

        &-menu {
            min-height: 150px;
            .menu-list {
                height: 180px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .button-darkmode-switch {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    width: 90px;
                    height: 27px;
                    cursor: pointer;
                    .button-darkmode-tray {
                        height: 28px;
                        width: 54px;
                        color: var(--text-color);
                        background-color: #fff;
                        border-radius: 50px;
                        border: 1px solid #000;
                        .button-darkmode-switcher {
                            width: 24px;
                            height: 24px;
                            background-color: #000;
                            border-radius: 50px;
                            transform: translate(1px, 1px);
                            transition: transform 0.15s ease-in-out;
                        }
                        &.on {
                            .button-darkmode-switcher {
                                transform: translate(26px, 1px);
                            }
                        }
                    }
                }

                &__item {
                    .item-link {
                        color: var(--text-color);
                        font-weight: 500;
                        letter-spacing: 1.5px;
                        transition: all 0.25s ease-in-out;
                    }
                    &.active {
                        .item-link {
                            color: var(--heading-color);
                            font-weight: 600;
                        }
                    }
                    &:hover {
                        .item-link {
                            color: var(--heading-color);
                            font-weight: 600;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }

        &-copyright {
            color: var(--text-color);
            font-style: italic;
        }
    }
}
