#loading {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    z-index: 101;
}
