.project-tooltip {
    position: absolute;
    z-index: 9;
    padding: 5px 10px;
    background-color: transparent;
    color: #000;
    z-index: 1000;

    @media (max-width: 768px) {
        display: none;
    }
}
