@import "./variables";
@import "./global";
@import "./description-modal";
@import "./project-tooltip";
@import "./mobile-menu";
@import "./loading";
@import "./preload";

.wrapper {
    background-color: #000;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    @import "./left-part";

    .right-part {
        width: calc(100% - 400px);
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: var(--right-part-box-shadow);
        padding: 100px;
        background-color: var(--light-bg-color);

        @media (max-width: 1400px) {
            width: calc(100% - 300px);
        }

        @import "./home";

        @import "./about";

        @import "./portfolio";

        @import "./contact";

        @media (max-width: 1400px) {
            padding: 80px 50px;
        }

        @media (max-width: 768px) {
            padding: 40px 20px;
        }

        @media (max-width: 1200px) {
            transform: translateY(60px);
            height: calc(100vh - 60px);
        }
    }

    @media (max-width: 1200px) {
        .left-part {
            display: none;
        }
        .right-part {
            width: 100%;
        }
    }
}
