footer {
    padding-top: 20px;
    background: rgb(31, 31, 31);
    /* background: url('https://i.pinimg.com/originals/bb/04/63/bb0463cbd1c88e3280cb273dd29d2859.jpg') center no-repeat;
    background-size: cover; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-height: 30vh;
}

footer .ctn {
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .ctn .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .ctn .footer__links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .ctn .footer__links ul li a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(221, 220, 220);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

footer .ctn .footer__links ul li a:hover {
    color: rgb(255, 115, 0);
}

.footer__title {
    margin-top: 10px;
    border-top: 2px solid rgb(255, 123, 0);
    padding-top: 15px;
    padding-bottom: 40px;
    -ms-flex-item-align: center;
    align-self: center;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__title h4 {
    color: rgb(224, 222, 222);
    text-align: center;
}

.footer__title h4 span {
    color: rgb(235, 102, 25);
}

.footer__title .footer__title-icons {
    width: 20%;
}

.footer__title .footer__title-icons ul li {
    margin-right: 10px;
}

.footer__title .footer__title-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__title .footer__title-icons ul li a {
    color: rgb(235, 235, 235);
    font-size: 2em;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.footer__title .footer__title-icons ul li a:hover {
    color: rgb(255, 123, 0);
}

.footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}